.App {
  text-align: center;
}
.Form-Sign-1 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 40%;
  height: 50%;
  margin: auto;
}
.Form-Sign-2 {
  background: white;
  border-radius: .5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.title {
  margin-bottom: 2rem;
}

.stop-dragging {
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
#main-btn-sm {
  background: var(--color-4);
  border: none;
  color: white;
  font-family: var(--font-2);
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
#main-btn-sm:hover {
  background: var(--color-white);
  color: var(--color-4);
  outline: var(--color-4);
}
#main-btn-lg {
  background: var(--color-4);
  border: none;
  color: white;
  font-family: var(--font-2);
  width: 100%;
}
#main-btn-lg:hover {
  background: var(--color-white);
  color: var(--color-4);
  outline: var(--color-4);
}