
/*--- btn-1 ---*/
.mint-box{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 4rem);
}
.form-box{
    padding: 30px 15px;
    border-radius: 15px;
    border: 1px solid #000;
    box-shadow: 5px 5px 0 0 rgba(0,0,0,0.3);
}
.form-box-input {
    margin: 0 10px;
    font-size:1rem;
    padding: 0 5px;
    border: 0;
    border-bottom: 1px solid #000000;
    outline: none !important;
}
.form-box-btn-wrap{
    display:inline-block;
}
.form-box-input::placeholder{
    font-size:0.8rem;
    line-height:1rem;
}
.btn_body{
    margin-top: 100px;
}
.btn-1{
    background-color: #000000;
    border: 1px solid rgb(28, 31, 30);
}

.btn-1::before {
    background-color: rgb(28, 31, 30);
    transition: 0.3s ease-out;
    border: 1px solid rgb(28, 31, 30);
}

/* 1.hover-filled-slide-down */
/*.btn-1.hover-filled-slide-down::before {*/
/*    bottom: 0; left: 0; right: 0;*/
/*    height: 100%; width: 100%;*/
/*    padding: 10px;*/
/*    border: 1px solid rgb(28, 31, 30);*/
/*}*/
/*.btn-1.hover-filled-slide-down:hover::before {*/
/*    height: 0%;*/
/*}*/
.btn1 {
    position: relative;
    display: inline-block;
    width: auto; height: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    min-width: 150px;
    padding:0;
    border-radius:6px;
}
.btn1 span {
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    top: 0; left: 0;
    width: 100%;
    padding: 3px 20px;
    transition: 0.3s;
    border-radius:6px;
}
.btn1::before {
    background-color: rgb(28, 31, 30);
    transition: 0.3s ease-out;
    border-radius:6px;
}
.btn1 span {
    color: rgb(255,255,255);
    border: 1px solid rgb(28, 31, 30);
    transition: 0.2s 0.1s;
    border-radius:6px;
}
.btn1 span:hover {
    color: rgb(28, 31, 30);
    transition: 0.2s 0.1s;
    border-radius:6px;
}

.btn1::before,
.btn1::after {
    position: absolute;
    content: "";
}
/* 1.hover-filled-slide-down */
.btn1.hover-filled-slide-down::before {
    bottom: 0; left: 0; right: 0;
    height: 100%; width: 100%;
}
.btn1.hover-filled-slide-down:hover::before {
    height: 0%;
}
