.comment-wrapper {
    background: white;
    border-radius: 1rem;
    padding: 1rem;
}
.comment-author {
    color: #1F4E5F;
    font-weight: bold;
    margin-bottom: .5rem;
}
.comment-contents {
    margin-bottom: .5rem;
}
.comment-space {
    padding: 0.5rem;
}
#comment-highlight {
    /* background: #ffdf40; */
    background: #AACFD0;
}