.PostList {
    text-align: center;
}
tbody > tr:hover {
    background: #F0F0F0;
    cursor: pointer;
}
.td-id {
    width: 5%;
}
.td-category {
    width: 15%;
}
.td-title {
    width: 45%;
}
.td-author {
    width: 15%;
}
.td-created-at {
    width: 20%
}

.pagination {
    color: #0F4C81;
}

.pagination-item {
    color: #0F4C81;
    cursor: pointer;
}