.PostList {
    text-align: center;
}
.postlist-table {
    background: white;
    border-radius: .5rem;
}
tbody > tr:hover {
    background: #F4F7F7;
    cursor: pointer;
    
}
.postlist-td-id {
    width: 5%;
}
.postlist-td-category {
    width: 15%;
}
.postlist-td-title {
    width: 40%;
}
.postlist-td-author {
    width: 10%;
}
.postlist-td-status {
    width: 10%;
}
#postlist-td-status-btn-1 {
    background: #AACFD0;
}
.postlist-td-created-at {
    width: 20%
}