.PostList {
    text-align: center;
}
.post-list-table {
    background: white;
    border-radius: .5rem;
}
tbody > tr:hover {
    background: #F4F7F7;
    cursor: pointer;
    
}
.td-id {
    width: 5%;
}
.td-category {
    width: 15%;
}
.td-title {
    width: 44%;
}
.td-author {
    width: 10%;
}
.td-status {
    width: 10%;
}
#td-status-btn-1 {
    background: #AACFD0;
}
.td-created-at {
    width: 20%
}