.Signup {
    /* text-align: center;
    margin: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 40%; */
}
.validation-msg {
    color: red;
}
#signup-btn {
    background: #79A8A9;
    border: none;
}