.MyPost {
    text-align: center;
}
.mypost-table {
    background: white;
    border-radius: .5rem;
}
tbody > tr:hover {
    background: #F4F7F7;
    cursor: pointer;
    
}
.mypost-td-id {
    width: 5%;
}
.mypost-td-title {
    width: 60%;
}
.mypost-td-status {
    width: 15%;
}
#mypost-td-status-btn-1 {
    background: #AACFD0;
}
.mypost-td-created-at {
    width: 20%
}