.comment-create-wrapper {
    background: white;
    border-radius: 1rem;
    padding: 1rem;
}
.comment-create-writer {
    color: #1F4E5F;
    font-weight: bold;
    margin-bottom: .5rem;
}
#comment-create-content-intput {
    margin: 1rem 0;
}
#comment-create-btn {
    background: #79A8A9;
    border: none;
    width: 100%;
}